body.purple {
	background: url(../images/header-bg-purple.jpg) repeat-x left top;
}

.purple a {
	color: #842946;
}

.purple #menu a:hover { 
	background: #280612;
}

.purple #menu .current_page_item a {
	background: #280612;
}