body.red {
	background: url(../images/header-bg-red.jpg) repeat-x left top;
}

.red a {
	color: #842946;
}

.red #menu a:hover { 
	background: #290004;
}

.red #menu .current_page_item a {
	background: #290004;
}
