/*Service Specific*/

.service-googlereader h5, .service-delicious h5, .service-mtdotorg h5 {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 10px 10px 10px;
    border: 1px dashed #ccc;
    width: 500px;
    font-style: italic;
}

.service-steam .stream-extra-description {
    margin-top: 5px;
    background-color:#4F4F4E;
    height:62px;
    padding-left:84px;
    padding-top:10px;
    position:relative;
    width:400px;
}

.service-steam .stream-extra-description h3 {
    color:#9DC34C;
    display:inline;
    font-family:arial,helvetica,tahoma,trebuchet ms,sans-serif;
    font-size:18px;
    font-weight:normal;
    margin:0pt;
    padding:5px 0pt 0pt;
}

.service-steam .stream-extra-description h5 {
    color:#C2C2C2;
    font-family:tahoma,helvetica,arial,trebuchet ms,sans-serif;
    font-size:11px;
    font-weight:bold;
    margin:0pt;
    padding:0pt 0pt 0pt 1px;
}

.service-steam .stream-extra-thumbnail {
    height:64px;
    left:4px;
    margin:0pt;
    padding:2px;
    position:absolute;
    top:2px;
    width:64px;
}

.service-youtube .stream-extra-thumbnail {
    border: 1px solid #AE1B13;
    width: 128px;
    padding: 0;
}

/* Elsewhere */

/* Home Page */
.action-stream-list {
	padding-left: 50px;
}

.action-stream-list li {
	background-position: 0px 5px;
}

#home-status-inner li {
	font-size: 0.8em;
}

#home-links-inner li a {
    background: url(../images/comment-down-tick.gif) no-repeat bottom left;
	display: block;
	padding-bottom: 10px;
}

#home-links-inner .annotation {
	display: block;
	font-size: 0.8em;
    margin: 0;
    background: #eeeeea;
    padding: 3px 10px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#home-photos h3 {
}

#home-photos {
}

.photobox {
    height: 75px;
    width: 75px;
    margin: 5px;
    background: #fff no-repeat center center;
	opacity: 0.6;
}

.photobox:hover {
	opacity: 1;
}

.photobox a {
    display: block;
    height: 75px;
    width: 75px;
}

.photobox_surround {
    float:left;
    border: #ccc 1px solid;
    margin: 5px 10px;
	background-color: #FFFFFF;
}

/* Elsewhere */
.action-stream .asset-trackbacks {
    display: none;
}

.action-stream .action-stream-header {
    color: #666;
    margin-top: 0;
	float: left;
	width: 50px;
	text-transform: lowercase;
	line-height: 16px;
	text-align: center;
	height: 65px;
}

.action-stream .action-stream-header .day {
	color: #ccc;
	display: block;
	font-size: 28px;
	line-height: 26px;
}

.action-stream .action-stream-day {
	clear: both;
	padding-top: 10px;
}

/* Theme Colours */

.blue .action-stream .action-stream-day {
	border-top: 1px dashed #083A84;
}

.green .action-stream .action-stream-day {
	border-top: 1px dashed #004721;
}

.purple .action-stream .action-stream-day {
	border-top: 1px dashed #842946;
}

.red .action-stream .action-stream-day {
	border-top: 1px dashed #842946;
}